@import "tailwindcss";


@plugin './hero.ts';
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
 @custom-variant dark (&:is(.dark *));




:root {
  --text-utama: #333;
  --text-second: #777;
  --text-second2: #888;
  --text-inti: #dc2626;
  --text-hover: #ef4444;
  --text-active: #f87171;
  --text-inti2: #991B1B;
  --text-startwithitemhref: #7f1d1d;
}


.text-utama {
  color: var(--text-utama)
}

.text-second {
  color: var(--text-second)
}

.text-second2 {
  color: var(--text-second2);
}

.bg-inti {
  background-color: var(--text-inti);
}

.bg-hover {
  background-color: var(--text-hover);
}

.bg-active {
  background-color: var(--text-active);
}

.bg-inti2 {
  background-color: var(--text-inti2);
}

.bg-item-same-href {
  background-color: var(--text-startwithitemhref);
}





/* ////// print token ////// */
@media print {

  /* Hilangkan semua elemen */
  body * {
    visibility: hidden;
  }

  /* Tampilkan hanya paper */
  #paper,
  #paper * {
    visibility: visible;
  }

  /* Posisikan paper di pojok kiri atas */
  #paper {
    position: absolute;
    left: 0;
    top: 0;

    width: 80mm;
    padding: 8mm;

    margin: 0;

    box-shadow: none;
    border-radius: 0;
  }
}

@page {
    size: auto;
    margin: 10mm;
}















/* 
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}  */